
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="description" content="bootstrap admin template"/>
    <meta name="author" content=""/>
    
    <title>Welcome to Installing Management</title>
    
    <!-- <link rel="shortcut icon" th:href="@{/resources/assets/images/favicon.ico}" /> -->
    <div th:replace="fragments/template :: header-css"> </div>
    <script th:src="@{/resources/global/vendor/breakpoints/breakpoints.js}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-login-v3 layout-full">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="panel">
          <div class="panel-body">
            <div class="brand">
              <img class="brand-img" th:src="@{/resources/assets/images/logo-colored.png}" alt="..." />
              <h2 class="brand-text font-size-18">Drop Wire Installation Mananagement</h2>
            </div>
            <form id="formLogin" method="post" th:action="@{/login}" autocomplete="off">
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" name="username" />
                <label class="floating-label">Username</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="password" class="form-control" name="password" />
                <label class="floating-label">Password</label>
              </div>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <!-- <div class="form-group clearfix">
                <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
                  <input type="checkbox" id="inputCheckbox" name="remember" />
                  <label for="inputCheckbox">Remember me</label>
                </div>
                <a class="float-right" th:href="forgot-password.html">Forgot password?</a>
              </div> -->
              <button id="submitLogin" type="submit" class="btn btn-primary btn-block btn-lg mt-40">Sign in</button>
            </form>
            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}==true" th:utext="${errorMessage}"/>
           <!--  <p>Still no account? Please go to <a th:href="register-v3.html">Sign up</a></p> -->
          </div>
        </div>

        <footer class="page-copyright page-copyright-inverse">
          <p>WEBSITE BY Creation Studio</p>
          <p>© 2018. All RIGHT RESERVED.</p>
          <div class="social">
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
            <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->


   <div th:replace="fragments/template :: footer-js"></div>
    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
    
  </body>
</html>
